@color-gray{
    &-900 {
        color: #212121;
    }
    &-800 {
        color: #424242;
    }
    &-700 {
        color: #616161;
    }
    &-600 {
        color: #757575;
    }
    &-500 {
        color: #9E9E9E;
    }
    &-400 {
        color: #BDBDBD;
    }
    &-300 {
        color: #E0E0E0;
    }
    &-200 {
        color: #EEEEEE;
    }
    &-100{
        color: #F5F5F5;
    }
    &-50{
        color: #FAFAFA;
    }
}
@color-blue-gray{
    &-900 {
        color: #263238;
    }

    &-800 {
        color: #37474F;
    }

    &-700 {
        color: #455A64;
    }

    &-600 {
        color: #546E7A;
    }

    &-500 {
        color: #607D8B;
    }

    &-400 {
        color: #78909C;
    }

    &-300 {
        color: #90A4AE;
    }

    &-200 {
        color: #B0BEC5;
    }

    &-100 {
        color: #CFD8DC;
    }

    &-50 {
        color: #ECEFF1;
    }
}

@color-green{
    &-900 {
        color: #33691E;
    }

    &-800 {
        color: #558B2F;
    }

    &-700 {
        color: #689F38;
    }

    &-600 {
        color: #7CB342;
    }

    &-500 {
        color: #8BC34A;
    }

    &-400 {
        color: #9CCC65;
    }

    &-300 {
        color: #AED581;
    }

    &-200 {
        color: #C5E1A5;
    }

    &-100 {
        color: #DCEDC8;
    }

    &-50 {
        color: #F1F8E9;
    }
}

@color-deep-orange {
    &-900 {
        color: #BF360C;
    }

    &-800 {
        color: #D84315;
    }

    &-700 {
        color: #E64A19;
    }

    &-600 {
        color: #F4511E;
    }

    &-500 {
        color: #FF5722;
    }

    &-400 {
        color: #FF7043;
    }

    &-300 {
        color: #FF8A65;
    }

    &-200 {
        color: #FFAB91;
    }

    &-100 {
        color: #FFCCBC;
    }

    &-50 {
        color: #FBE9E7;
    }
}

.hero-h1 {
    font-weight: 900;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 0.1em;
    // margin-bottom: 24px;
}

.hero-h2 {
    font-weight: 900;
    font-size: 56px;
    line-height: 72px;
    // margin-bottom: 24px;
}

h1, .h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
    // margin-bottom: 24px;
}

h2, .h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
    // margin: 16px 0 20px;
}

h3, .h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    // margin: 16px 0 18px;  
}

h4, .h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    // margin: 16px 0 16px; 
}

h5, .h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    // margin: 16px 0 14px;  
}

h6, .h6 {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    // margin: 16px 0 12px;  
}