@color-white: #fff;

//color-gray
@color-gray-900: #212121;
@color-gray-800: #424242;
@color-gray-700: #616161;
@color-gray-600: #757575;
@color-gray-500: #9E9E9E;
@color-gray-400: #BDBDBD;
@color-gray-300: #E0E0E0;
@color-gray-200: #EEEEEE;
@color-gray-100: #F5F5F5;
@color-gray-50: #FAFAFA;

//color-blue-gray
@color-blue-gray-900: #263238;
@color-blue-gray-800: #37474F;
@color-blue-gray-700: #455A64;
@color-blue-gray-600: #546E7A;
@color-blue-gray-500: #607D8B;
@color-blue-gray-400: #78909C;
@color-blue-gray-300: #90A4AE;
@color-blue-gray-200: #B0BEC5;
@color-blue-gray-100: #CFD8DC;
@color-blue-gray-50: #ECEFF1;


//color-green
@color-green-900: #33691E;
@color-green-800: #558B2F;
@color-green-700: #689F38;
@color-green-600: #7CB342;
@color-green-500: #8BC34A;
@color-green-400: #9CCC65;
@color-green-300: #AED581;
@color-green-200: #C5E1A5;
@color-green-100: #DCEDC8;
@color-green-50: #F1F8E9;


//color-deep-orange 
@color-deep-orange-900: #BF360C;
@color-deep-orange-800: #D84315;
@color-deep-orange-700: #E64A19;
@color-deep-orange-600: #F4511E;
@color-deep-orange-500: #FF5722;
@color-deep-orange-400: #FF7043;
@color-deep-orange-300: #FF8A65;
@color-deep-orange-200: #FFAB91;
@color-deep-orange-100: #FFCCBC;
@color-deep-orange-50: #FBE9E7;

.hero-h1 {
    font-weight: 900;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 0.1em;
    // margin-bottom: 24px;
}

.hero-h2 {
    font-weight: 900;
    font-size: 56px;
    line-height: 72px;
    // margin-bottom: 24px;
}

h1, .h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
    // margin-bottom: 24px;
}

h2, .h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.01em;
    position: relative;
    // margin: 16px 0 20px;
    &:before{
        content: '';
        display: block;
        position: absolute;
        left: -20px;
        top: 0;
        width: 4px;
        height: 100%;
        background-color: @color-green-500;
    }
}

h3, .h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    // margin: 16px 0 18px;  
}

h4, .h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
    // margin: 16px 0 16px; 
}

h5, .h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    // margin: 16px 0 14px;  
}

h6, .h6 {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    // margin: 16px 0 12px;  
}

.font-subheader {
    font-weight: 800;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.font-paragraph-small {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}
.font-paragraph-base {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.font-paragraph-lead {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}
.font-bold {
    font-weight: 600;
}

.btn {
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    color: @color-gray-900;

    &.btn-primary {
        background: @color-green-500;
        border: 3px solid transparent;
        &:hover{
            color: #fff;
            background-color: @color-gray-800;
        }
    }

    &.btn-outline{
        background: transparent;
        border: 3px solid @color-green-500;
        &:hover {
            border-color: @color-gray-800;
        }
    }

    &.btn-small {
        padding: 9px 17px;
    }

    &.btn-normal {
        padding: 13px 21px;
    }

    &.btn-large {
        padding: 17px 25px;
        font-size: 20px;
        line-height: 28px;
    }
}


/* Pagination */
.pagination-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    // margin: 40px 0 64px;

    .pagination {
        margin-bottom: 0;

        .page-item {
            margin-right: 24px;

            &:last-of-type {
                margin-right: 0;
            }

            &.active {
                .page-link {
                    border: 3px solid @color-green-500;
                    border-radius: 4px;
                }
            }
        }

        .page-link {
            .font-paragraph-base;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 72px;
            height: 72px;
            padding: 0;
            background-color: transparent;
            color: @color-gray-800;
            border: 3px solid transparent;
            border-radius: 4px;
            transition: border-color 0.2s;
            font-weight: 600;

            &:hover {
                border-color: @color-gray-100;
            }
        }
    }
}

.reset-ul-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    >li {
        margin: 0;
        padding: 0;
    }
}