
/* Hovers */
@media (min-width: 992px) {

}

@media (max-width: 1200px) {
    .popup-description {
        .close{
            right: 0;
            top: 16px;
        }
        .img{
            margin-right: 0;
        }
        .description-wrap{
            justify-content: flex-start;
        }
        .image-wrap{
            margin-bottom: 32px;
            height: 50%;
        }
    }  
    
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
    .header {
        .menu-icon {
            display: flex;
        }
        .menu-list {
            display: none;
        }
    }
    .mobile-menu-open {
        .menu-list-mobile {
            transform: translateX(-260px);
        }
    }
    .footer {
        .footer-content {
            flex-direction: column;
            height: 100%;
            padding: 27px 24px;
        }
        .copyright {
            order: 2;
        }
        .menu {
            margin-bottom: 24px;
        }
        .menu-list {
            .menu-link {
                height: auto;
            }
        }
    }
    .science-page{ 
        .item{
            padding: 32px;
        }
    }
    .popup{
        .popup-content{
            &.popup-description,
            &.popup-submit {
                padding: 54px 32px 32px;
            }
        }
    } 
}

@media (max-width: 575px) {
    .footer {
        .menu-list {
            flex-direction: column;
            .menu-link {
                display: block;
                text-align: center;
                margin: 0 0 12px 0;
            }
        }
        .copyright {
            display: flex;
            flex-direction: column;
            text-align: center;
            span {
                &:first-child {
                    margin-right: 0;
                }
            }
        }
    }
    .about-page {
        .content {
            padding: 32px;
        }
    }
    .science-page{
        .item{
            .info-block{
                 .info-block-item{
                     margin: 0 0 8px 0;
                     width: 100%;
                 }
            }
        } 
    }
}
     