* {
    box-sizing: border-box;
    outline: none;
}

body {
    color: #424242;
    background-color: @color-gray-50;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;

    .container {
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    }

    &.overflow {
        overflow: hidden;
    }
}

@supports (font-variation-settings: normal) {
    body {
        font-family: 'Inter var', sans-serif;
    }
}

.content-wrapper {
    position: relative;
    z-index: 5;
}

.news-element-page{
    .content {
        padding: 64px 80px;
        background-color: #fff;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.02);
        border-radius: 12px;
    }
    .text {
        margin: 20px 0 52px;
    }
    .video-container{
        display: block;
        width: 100%;
        height: 100%;
        padding: 32px;
        video {
            width: 100%;
            height: 100%;
            background-color: @color-gray-600;
        }
    }
    
    .actions{
        margin-bottom: 8px;
        .link-back{
            margin-right: 20px;
            color: @color-green-500;
        }
        .date-wrap {
            color: @color-gray-600;
        }
        .link-back, .date-wrap{
            display: flex;
        }
        
        .icon {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            text-align: center;
            font-size: 24px;
            font-weight: 400;
            display: flex;
            align-items: center;
        }
    }
}
.news-page{
    .items {
        margin: 0 -15px 10px -15px;
    }

    .img {
        display: block;
        height: 240px;
    }
    .item-wrap {
        padding: 0 15px 30px 15px;
    }
    .title{
        padding-bottom: 16px;
        margin-bottom: 20px;
        position: relative;
        &:after{
            position: absolute;
            content: '';
            height: 3px;
            width: 40px;
            bottom: 0;
            left: 0;
            background-color: @color-green-500;
        }
    }
    .item {
        width: 100%;
        height: 100%;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.02);
        border-radius: 8px;
        .news-item-information {
            display: flex;
            flex-direction: column;
            padding: 24px;
            height: ~'calc(100% - 240px)';
        }
        .info-elements{
            margin-top: auto;
        }
        .title {
            color: @color-blue-gray-900;
            text-decoration: none;
        }

        .date {
            color: @color-gray-600;
        }

        .icon {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            text-align: center;
            font-size: 24px;
            font-weight: 400;
            display: flex;
            align-items: center;
        }

        .read-more {
            color: @color-green-500;
            text-decoration: none;
            margin-top: auto;
        }
        .news-info-element{
            margin-right: 24px;
            display: flex;
            align-items: center;
        }
    }
}
.solutions-page{
    .text-block{
        padding: 64px 80px;
        margin-bottom: 64px;
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.02);
        border-radius: 12px;
    }
    .text{
        margin: 16px 0;
    }
    .items{
        margin: 0 -15px 10px -15px;
    }
    .img {
        display: block;
        height: 200px;
    }
    .solution-information{
        display: flex;
        flex-direction: column;
        padding: 24px;
        height: ~'calc(100% - 200px)';
        .title{
            color: @color-blue-gray-900;
            text-decoration: none;
        }
        .show-more{
            display: flex;
            color: @color-green-500;
            text-decoration: none;
            margin-top: auto;
        }
        .icon {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            text-align: center;
            font-size: 24px;
            font-weight: 400;
        }
    }
    .item-wrap{
        padding: 0 15px 30px 15px;
        .item{
            width: 100%;
            height: 100%;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.02);
            border-radius: 8px;
        }
    }
    .button-show-more-solutions {
        .btn {
            width: 100%;
            justify-content: center;
            .button-text{
                margin-right: 4px;
            }
            .icon{
                width: 24px;
                height: 24px;
                font-size: 24px;
            }
        }
    }
}
.science-page {
    
    .item {
        padding: 64px 80px;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.02);

        .h2 {
            margin-bottom: 16px;
        }

        .description {
            margin-bottom: 24px;
        }

        .info-block {
            .views {
                color: @color-gray-600;
            }

            .info-block-item {
                margin-right: 24px;

                .link {
                    text-decoration: none;
                    color: @color-green-500;
                    display: flex;
                    align-items: center;

                }
            }

            .icon {
                width: 24px;
                height: 24px;
                margin-right: 8px;
                text-align: center;
                font-size: 24px;
                font-weight: 400;
            }
        }
    }
}
.menu-list-mobile {
    display: flex;
    position: fixed;
    right: -260px;
    top: 78px;
    flex-direction: column;
    width: 260px;
    height: 100%;
    padding: 0 24px;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.02);
    transition: transform 0.25s ease-out 0s;
    z-index: 100;
    .menu-link {
        padding: 12px 0;
        border-bottom: 1px solid @color-green-400;
        color: @color-gray-900;
        text-decoration: none;
        font-weight: 600;
    }
}
.header {
    background-color: #fff;
    .main-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: 78px;
    }
    .logo {
        display: flex;
        align-items: center;
        height: 78px;
    }
    .menu {
        &.open {
            .menu-icon {
                span {
                    &:nth-child(1) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }

                    &:nth-child(2) {
                        transform: rotate(45deg);
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg);
                    }

                    &:nth-child(4) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }
                }
            }
        }
    }
    .menu-icon {
        display: none;
        width: 25px;
        height: 20px;
        position: relative;
        margin-right: 12px;
        span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background: @color-gray-800;
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0);
            transform: rotate(0);
            -webkit-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2),
            &:nth-child(3) {
                top: 8px;
            }
            &:nth-child(4) {
                top: 16px;
            }
        }
    }
    .menu-list {
        display: flex;
        .menu-link {
            position: relative;
            display: flex;
            align-items: center;
            margin: 0 12px;
            height: 78px;
            text-decoration: none;
            color: @color-gray-900;
            font-weight: 600;

            &:after {
                content: "";
                width: 0%;
                display: block;
                position: absolute;
                background: @color-green-500;
                height: 3px;
                right: 0;
                bottom: 1px;
                transition: width .2s ease-in-out;
            }

            &:hover {
                &:after {
                    width: 100%;
                    left: 0;
                }
            }

            &.active {
                &:after {
                    width: 100%;
                }
            }
        }
    }
}

.footer {
    margin-top: 80px;
    background-color: @color-gray-200;
    .footer-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: 78px;
    }
    .copyright {
        color: @color-gray-700;
        span {
            display: inline-block;
            &:first-child {
                margin-right: 20px;
            }
        }
    }
    .menu-list {
        display: flex;
        .menu-link {
            position: relative;
            display: flex;
            align-items: center;
            margin: 0 12px;
            height: 78px;
            text-decoration: none;
            color: @color-gray-900;
            font-weight: 600;
            transition: color 0.2s;
            &:hover {
                color: @color-green-500;
            }
        }
    }
}

/* header-title */
.header-title {
    position: relative;
    height: 260px;
    padding-top: 40px;
    background-color: #F9F9F9;
    text-align: center;
    color: #fff;
    margin-bottom: -80px;

    >.container {
        position: relative;
        z-index: 1;
    }

    .background {
        background-position: center center;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(5, 5, 40, 0.6), rgba(5, 5, 40, 0.6));
            pointer-events: none;
            z-index: 0;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: url('../images/temp/header-bg-1.png') repeat center;
            opacity: 0.12;
            pointer-events: none;
            z-index: 0;
        }
    }

    .breadcrumb {
        justify-content: center;
        padding: 0;
        margin-bottom: 4px;
        background-color: transparent;
        border-radius: 0;
    }

    .breadcrumb-item {
        color: #fff;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    .breadcrumb-item+.breadcrumb-item {
        padding-left: 12px;

        &:before {
            padding-right: 12px;
            color: #fff;
        }
    }
}

.about-page {
    .content {
        padding: 80px 80px 66px;
        background-color: #fff;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.02);
        border-radius: 12px;
        p {
            margin-bottom: 12px;
        }
        p.font-paragraph-lead {
            margin-bottom: 16px;
        }
        p + h2, p + .h2 {
            margin-top: 38px;
        }
        h2 + p, .h2 + p {
            margin-top: 20px;
        }
    }
}